

.list-container{
    padding-left: 30px;
    padding-top: 40px;
}

.animal-list li{
    list-style-type: none;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 33%;
    padding-left: 7%;

}

.formy-form{
    position: fixed;
    right: 250px;
    top: 100px;
}